doctype html
html(lang='en')
    head
        meta(
            name='viewport'
            content='width=device-width, initial-scale=1.0'
        )
        meta(
            http-equiv='Content-Type'
            content='text/html; charset=utf-8'
        )
        title Lodging Receipt
        style.
            .space-right {
                padding-right: 50px;
            }
            .bold {
                font-weight: bold;
            }

    body
        h1 Lodging Receipt
        h4 Thank you for choosing us!
        table
            tr
                td.space-right Invoice ID:
                td #{invoiceId}
            tr
                td Guest:
                td #{lastname}, #{firstname}
            tr
                td.space-right Check In:
                td #{checkin}
            tr
                td.space-right Check Out:
                td #{checkout}
            tr
                td(colspan='2', height=20)
            tr
                td.bold Charges:
                td
            each charge in charges
                tr
                    td=charge.chargeId.slice(charge.chargeId.length - 7)
                    td="$"+charge.amount.toFixed(2) + " -- Reason: " + charge.reason
            tr
                td(colspan='2', height=20)
            tr
                td.bold Payments:
                td
            each payment in payments
                tr
                    td=payment.paymentId.slice(payment.paymentId.length - 6)
                    td="$"+payment.amount.toFixed(2) + " paid by " + ((payment.method === "CA") ? "cash" : "credit ending in " + payment.creditnumber.slice(payment.creditnumber.length - 4))
            tr
                td(colspan='2', height=20)
            tr
                td.space-right.bold Total Paid:
                td $#{totalPaid.toFixed(2)}
            if (balanceDue > 0)
                tr
                    td(colspan='2', height=20)
                tr
                    td(colspan='2') ----------------------------------------
                tr
                    td.space-right.bold Balance Due:
                    td $#{balanceDue.toFixed(2)}
                tr
                    td(colspan='2') ----------------------------------------
            tr
                td(colspan='2', height=20)
        h3 #{endMessage}
